main {
  margin-left: none;
}
.package {
  background: #ff821bdd;
  border: 2px solid #000;
  border-left: none;
  margin: 20px 0px;
  font-weight: bold;
  padding: 9px;
  width: 80%;
}

.package:hover,
.package:active {
  border-color: #000;
  background: #3e434b;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: aliceblue;
  transition: 0.3s;
}

.package__link {
  text-decoration: none;
  color: inherit;
}
