@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  box-sizing: border-box;
}

body {
  letter-spacing: 3px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #524e4e;
  color: #fff;
  padding: 4px 10px;
}
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-header__brand {
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  /* display: inline-block; */
  /* width: 20px; */
}
.main-header__brand img {
  height: 45px;
  width: 70px;
  vertical-align: middle;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 90px);
  vertical-align: middle;
}
.main-nav__item {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 3px;
}
.main-nav__item {
  display: inline-block;
  margin: 0 10px;
}
/* .main-nav__item a::after {
  content: " (Link)";
  color: #df6501dd;
} */
.main-nav__item a:hover,
.main-nav__item a:active {
  color: #f19137;
  border-bottom: 5px solid #df6501dd;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #000000;
  border: none;
  background-color: #f88221dd;
  transition: 1s;
}
.main-nav__item--cta a {
  background-color: #df6501dd;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
}
.button {
  border: 2px solid #df6501dd;
  background-color: #000000;
  color: #fff;
  padding: 5px;
  margin: 25px;
  letter-spacing: 1px;
  font: inherit;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
.button:hover,
.button:active {
  border: 2px solid #000000;
  transition: 0.5s;
  background-color: #df6501dd;
  color: #000000;
}
.button:focus {
  outline: none;
}
.main-footer {
  background: #3e434b;
  color: #fff;
  padding: 50px;
  margin-top: 48px;
  height: 200px;
}
/* .main-footer a {
    list-style-type: none;
    color: #fff;
  } */
.main-footer__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}
.main-footer__link a {
  color: #fff;
  text-decoration: none;
}
.main-footer__link a:hover,
.main-footer__link a:active {
  color: #cbcbcb;
}
